ul {
    width: 642px;
    margin: 0 auto;
}

.titulo {

}
.titulo h2 {
    font-size: 60px;    
}
.titulo hr {
    width: 90px;
    position: absolute;
    top: 110px;    
}
ul {  
    list-style: none;
    padding: 0;
}
li {
    position: relative;
    display: inline-block;
    background: #000;
}
ul li p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
}
img {
    display: block;
    opacity: .6;
}