* {
    /*outline: 1px solid purple;*/
}
body {
    margin: 20px;
}
.container {
    position: absolute;
    left: 40px;
    right: 40px;
}
.foto1,.foto2,.foto3,.foto4,.foto5,.foto6 {
    position: relative;
    left: 200px;
}

.c__foto {
    position: absolute;
    display: inline-block;
    left: 100px;
}
span {
    position: absolute;
    right: 0px;
    bottom: 5px;
    color: #fff;
}